---
import Layout from "../Layout.astro";
import Hello from "../components/Hello";

type Props = {
  articles: Array<{
    id: string;
    title: string;
  }>;
};

const { articles } = Astro.props;
---

<Layout>
  <h1 class="text-3xl">Hello, Astro on Rails!</h1>
  <p>This is a <code>.astro</code> file.</p>
  <Hello name="Astro" client:load />
  <p>Visit an <a href="/rails">ERB template page</a>.</p>
  <ul>
    {
      articles.map((article) => (
        <li>
          <a href={`/articles/${article.id}`}>{article.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
